body {
  padding: 2px;
  font-family: Avenir, "Trebuchet MS","Century Gothic", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-image: url('../images/airwing.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #00B7FF;
}

th {
  text-align: center;
}

.cell-headers {
  color: #ffffff;
}

.odd {
  background: rgba(255, 255, 255, .3);
}

.even {
  background: rgba(255, 255, 255, .15);  
}

.flight-info-cells {
  text-align: left;
  color: #ffffff;
  font-size: .98em;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
}

.center-info {
  text-align: center;
}
.page {
	/*display: inline-block;*/
	width:100%;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 220px;*/
  margin-top: 110px;
}

.main-title {
	font-size: 5em;
	color: #ffffff;
	font-weight:400;
	margin: 1px 2px 1px 2px;
}

.sub-title {
	font-size: 1em;
	color: #ffffff;
	font-weight: 400;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.inputSuccess,form .ValidationLiveSuccess,form .ValidationLiveSuccess:focus {
  border:2px solid #90ee90; border-radius: 2px;
}

.inputFail,form input.ng-dirty:not(.ValidationLiveSuccess),form select.ng-dirty:not(.ValidationLiveSuccess) {
  border:2px solid rgba(255, 140, 0, .71); border-radius: 2px;
}

.inputFocus,form .ValidationLiveSuccess:focus,form input.ng-dirty:not(.ValidationLiveSuccess):focus,form input:focus,form select.ng-dirty:not(.ValidationLiveSuccess):focus,form select:focus {
  border-color:none; border-radius: 2px;
}

.returnedFlights {
  /*display: inline-block;*/
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.price {
  padding-left: 4px;
  padding-right: 6px;
  font-size: 1.2em;
  text-align: center;
}

#header-perform-width {
  width: 89px;
  padding-left: 3px;
}

#header-airline-width {
  width: 100px;
}

#header-stops-width {
  width: 60px;
}

#header-time-width {
  width: 65px;
}

#header-trip-width {
  width: 217px;
}

#header-price-width {
  width: 99px;
}

.more-results {
  border: 1px solid white; 
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 3px;
  background: rgba(255,255,255,0.23);
  margin: 0 auto;
  transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  font-size: 1.2em;
  width: 170px;
  color: #ffffff;
}

.more-results:hover {
  background: rgba(144, 238, 144, 0.75);
  cursor: pointer;
}

.more-results:active {
  vertical-align: top;
  background: rgba(144, 238, 144, 1);
  padding: 8px 12px 5px;
}

.choice-results {
  font-size: 1.4em;
  color: #ffffff;
}

.choice-results-hover {
  font-size: 1.2em;
  transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  color: #ffffff;
  text-decoration: none;
}

.choice-results-hover:hover {
  background: rgba(144, 238, 144, 0.75);
  cursor: pointer;
}

.choice-prices {
  font-size: 1em;
  color: #ffffff;
}

.choice-div-size {
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  display:inline-block;
  margin: 0 auto;
  width: 80%;
  padding: 9px 7px;
  height: 50px;
}

#spacer {
  height:2px;
  width:80%;
}

#spacer-more {
  height:7px;
  width:80%;
}

.choice-themes {
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  margin: 2px 0px;
  padding: 2px 130px;
  height: 34px;
  line-height: 35px;
  font-size: 90%;
  text-align: left !important;
}

.results-main-title {
  font-size: 3em;
  color: #ffffff;
  font-weight:400;
  margin: 1px 2px 1px 2px;
}

.smallerBar {
  /*margin: 0 20px;*/
  width: 80%;
  margin: 0 auto;
}
.fRight {
  float: right;
}

.theme-font {
  font-weight: 600;
}

.no-cursor {
  cursor: default;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.choice-spacer {
  height: 20px;
  width: 80%;
}
/*REMEMBER: THE ORDER IN WHICH THE DIVS ARE PLACED IS VERY IMPORTANT! The DIVS
  Have to be placed in a wrapping order so that the layout is correct*/
.tile-price {
  float:left;
  padding-left: 2px;
  padding-right: 2px;
  /*display:inline;*/
  border: 1px solid black;
  font-size:1.2em;
}

.tile-leaving {
  float:right;
  width:66%;
  border: 1px solid black;
  clear:none;
}

.tile-depart {
  float:right;
  width:66%;
  border: 1px solid black;
}

.tile-landing {
  float:right;
  width: 66%;
  clear:none;
  border: 1px solid black;
}

.tile-return {
  float:right;
  width: 66%;
  border: 1px solid black;
}

.tile-return-depart {
  float:right;
  width: 66%;
  border: 1px solid black;
}

.tile-return-landing {
  float:right;
  width: 66%;
  border: 1px solid black;
}

.tile-airline {
  float:left;
  width:25%;
  clear:left;
  padding: 0px;
  text-align: center;
  border: 1px solid black;
}

.tile-stops {
  float:left;
  width:25%;
  clear:left;
  display: inline;
  text-align: center;
  border: 1px solid black;
}

.tile-container {
  border: 1px solid black;
  width:317px;
  height:110px;
  margin: 0 auto;
  padding: 0px;
}

.tile-sm {
  font-size: .7em;
}




